/* google fonts */
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@1,800&family=Roboto:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* general styles */
body {
  min-height: 100vh;
  font-family: "Roboto", sans-serif;
  display: flex;
  flex-direction: column;
}

/* header styles */ /* coolors: 054a91, 3e7cb1, 81a4cd, dbe4ee, f17300 */

header {
  background-color: #81a4cd;
  border-top: black solid 2px;
  position: fixed;
  width: 100%;
  display: flex;
  justify-content: space-around;
  box-shadow: 0 2px 4px black;
  z-index: 99;
}

header > h1 {
  font-family: "Open Sans", sans-serif;
  color: #054a91;
  font-size: 3rem;
  padding: 0.3rem 0.8rem;
  letter-spacing: 1.6px;
}
hr {
  border-top: 1px solid #054a91;
}

/* main content */

main {
  margin-top: 4.8rem;
  width: 100%;
  flex-grow: 1;
  flex-direction: column;
  background-color: #cdd8e4;
  /* create an opaque bg image using a gradient*/
  background: linear-gradient(
      rgba(255, 255, 255, 0.8),
      rgba(255, 255, 255, 0.6)
    ),
    url("../images/photo-mic.jpg") no-repeat center center/cover;
}
#burger-menu {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#burger-menu li {
  list-style: none;
  margin: 0;
}

#burger-menu li a {
  text-decoration: none;
  color: #054a91;
  width: 100%;
  font-size: 0.6rem;
  padding: 0.2rem;
  /* margin: 1rem; */
}
#main-content h2,
h3 {
  text-align: center;
  padding: 2rem 2rem 0 2rem;
  color: #245784;
}
#main-content p {
  padding: 2rem 2rem 0 2rem;
  color: #245784;
  text-align: center;
}

#main-content hr {
  width: 80%;
  margin-left: 10%;
  margin-top: 2rem;
}
#main-content > div {
  display: flex;
  justify-content: center;
}
#landing-page-button {
  color: #054a91;
  font-weight: bold;
  background-color: #f17300;
  padding: 0.6rem;
  border-radius: 3rem;
  margin-top: 0rem;
  box-shadow: 1px 2px black;
}
#landing-page-button:hover {
  background-color: #7582c7;
}
#landing-page-button:active {
  background-color: #054a91;
  color: #dbe4ee;
}
#button-div {
  padding-bottom: 4rem;
  padding-top: 1rem;
}

#main-content a {
  text-decoration: none;

  bottom: 70%;
}

.sample {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 0.8rem;
}
audio {
  width: 15rem;
  height: 2.5rem;
}

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #054a91;
  height: 3rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

footer i {
  color: #dbe4ee;
  font-size: 1.3rem;
}
a i:hover {
  color: #7582c7;
}
